{% extends "main/design/header.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .report-container {
        width: 50%;
        margin: 0 auto; /* Center the container */
        position: relative; /* Enable positioning */
    }
    label {
        font-weight: bold;
    }
    .btn {
        margin-top: 20px;
    }
    .btn-reset-password {
        background-color: #8a2be2; /* Dark violet background */
        color: #ffffff; /* White text color */
        border: 1px solid #8a2be2; /* Dark violet border */
        padding: 10px 20px; /* Padding */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Cursor style */
        transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    }
    .btn-reset-password:hover {
        background-color: #6a1a9b; /* Darker violet on hover */
        border-color: #6a1a9b; /* Darker border on hover */
    }
    .form-control {
        width: 100%; /* Adjusted to full width */
        height: 30px; /* Adjusted height */
    }
    h2 {
        text-align: center;
        padding: 30px;
    }
    .back-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>
<div class="report-container">
    <div class="content-section">
        <a href="{% url 'homepage' %}" class="btn btn-outline-secondary back-button">Back</a>
        <h2>Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-reset-password" type="submit">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
